.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    height: 100%;
    background: white;
    box-shadow: 2px 2px 50px rgb(204, 204, 204);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    @include tablet {
        width: 100%;
    }
    &__title {
        padding: 4rem;
    }
    &__songs {
        display: flex;
        flex-direction: column;
    }
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color:  rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}