.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: background 0.5s ease;
    &:hover {
        background: rgb(222, 222, 255);
    }
    &__image {
        width: 30%;
    }
    &__desc {
        padding-left: 1rem;
    }
    &__name {
        font-size: 1.65rem;
    }
    &__artist {
        font-size: 1.25rem;
    }
}

.selected {
    background: rgb(165, 180, 225);
}