.nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__title {
        font-size: 3.25rem;
    }
    &__library-button {
        background: transparent;
        cursor: pointer;
        border: 2px solid rgb(65, 65, 65);
        padding: 0.5rem;
        transition: all 0.3s ease;
        @include tablet {
            z-index: 10;
        }
        &:hover {
            background:  rgb(65, 65, 65);
            color: white;
        }
    }
}