.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 20vh;
}

.time-control {
  display: flex;
  align-items: center;
  width: 50%;
  @include tablet {
    width: 90%;
  }
  &__current-time, &__duration {
    padding: 1rem;
  }
  &__track {
    background: lightblue;
    width: 100%;
    height: 1.5rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
  }
  &__animate {
    background: rgb(204, 204, 204);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    pointer-events: none;  
  }
  &__slider {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 16px;
      width: 16px;
    }
    &::-moz-range-thumb {
      -webkit-appearance: none;
      background: transparent;
      border: none;
    }
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;
  @include tablet {
    width: 60%;
  }
  svg {
    cursor: pointer;
  }
}