.song {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    &__image {
        width: 20%;
        border-radius: 50%;
        border: .05rem solid black;   
        mask-image: radial-gradient(3px at 50% 50%, transparent 100%, white 100%);
        @include tablet {
            width: 48vh;
        }
    }
    &__name {
        padding: 3rem 1rem 1rem 1rem;
    }
    &__artist {
    font-size: 1.75rem;
    }
}

.rotate-image {
    animation-name: rotateimage;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateimage {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}