.song-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    &__img {
        width: 20%;
        border-radius: 50%;
        border: .05rem solid black;   
        mask-image: radial-gradient(3px at 50% 50%, transparent 100%, white 100%);
    }
    h2 {
        padding: 3rem 1rem 1rem 1rem;
    }
    h3 {
    font-size: 1rem;
    }
}

.spin-record {
    animation-name: spinrecord;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinrecord {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

@media screen and (max-width: 768px) {
    .song-container {
        img {
            width: 60%;
        }
    }
}