@import '../styles/partials/mixins';
@import '../styles/partials/nav';
@import '../styles/partials/song';
@import '../styles/partials/player';
@import '../styles/partials/library';
@import '../styles/partials/librarysong';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

h3, h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.app {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}